.btn-primary{
    background: #FF9900;
    border: 0;
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary:hover{
    background: rgb(219,133,4);
    border: 0;

}

.head h1{
    font-family:'Poppins', sans-serif;
    font-weight: 700;
}

.head p{
    font-family:'Poppins', sans-serif;
    font-weight: 300;
}